/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  color: white;
}

.playField{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.box{
  border: 2px solid white;
  height: 200px;
  width: 30%;
  text-align: center;
  font-size: 200px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
html{
  background: url(../images/galaxy-background.jpeg);
}

